<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://geotracking-ingestdb-fx-dev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e02811d6-624b-4016-9a68-8134159ebca6/resourceGroups/GeoTracking/providers/Microsoft.Web/sites/geotracking-ingestdb-fx-dev</ResourceId>
    <UserName>$geotracking-ingestdb-fx-dev</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://geotracking-ingestdb-fx-dev.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>